.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

img {
    width: 100px;
}

/*a {
    text-decoration: none;
    color: black;
}*/

.nave {
    margin-left: 500px;
}

.pie {
    background-color: whitesmoke;
    border: 1px solid;
    padding: 4rem 0;
    text-align: center ;
    margin-top: 6rem;
}

/*.box {
    margin-right: 10px;
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}*/

.cajas {
    display: flex;
    flex-direction: row;
    
}
#disney {
    color: aliceblue;
    background-image: url("sea-164989_640.jpg");
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-right: 30px;
    
}

.cajas {
    padding: 60px;
    margin-left: 30px;
}

#brasil {
    color: aliceblue;
    background-image: url("sea-164989_640.jpg");
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-right: 30px;
}

#paris {
    color: aliceblue;
    background-image: url("sea-164989_640.jpg");
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-right: 30px;
}

#oriente {
    color: aliceblue;
    background-image: url("sea-164989_640.jpg");
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-right: 30px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
    padding-top: 12rem;
}

.header {
    background-color:whitesmoke;
    color: coral;
    padding: 2rem 0;
    position:fixed;
    left:0;
    top:0;
    right:0;
}

    .header a {
        color:burlywood;
        text-decoration: none;
    }

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: : center;
}

h1 {
    align-self: center;
    font-size: 1.3em;
}

.navbar {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navbar ul li {
        display: inline-block;
    }
        .navbar ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
            .navbar ul li a:hover {
                background: grey;
            }

.logo {
    align-self: center;
}

.main {
    padding-top: 5rem;
}

.top-image {
    width:100%;
}

